# dependencies
node_modules/

# build output
server/dist/
server/build/
client/.env
shared/.env
server/.env

.env
server/.env
.env.local
.env.production


*.tsbuildinfo


*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

shared/dist/

]

